* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: gordita_regular;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@font-face {
    font-family: "D-DIN Regular";
    font-style: normal;
    font-weight: normal;
    src: local("D-DIN Regular"), url("../fonts/din/D-DIN.woff") format("woff");
}

@font-face {
    font-family: "D-DIN DIN-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("D-DIN DIN-Bold"),
        url("../fonts/din/D-DIN-Bold.woff") format("woff");
}

@font-face {
    font-family: "D-DIN Exp Regular";
    font-style: normal;
    font-weight: normal;
    src: local("D-DIN Exp Regular"),
        url("../fonts/din/D-DINExp.woff") format("woff");
}

@font-face {
    font-family: "EGGIndulekhaUni";
    src: url(../fonts/indhulekha/EGGIndulekhaUniB.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "IndulekhaBold";
    src: url(../fonts/indhulekha/indulekhaHeavyBold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: manjariregular;
    src: url(../fonts/manjari/manjari-regular-webfont.woff2) format("woff2"),
        url(../fonts/manjari/manjari-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: manjaribold;
    src: url(../fonts/manjari/manjari-bold-webfont.woff2) format("woff2"),
        url(../fonts/manjari/manjari-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: manjarithin;
    src: url(../fonts/manjari/manjari-thin-webfont.woff2) format("woff2"),
        url(../fonts/manjari/manjari-thin-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: auto;
    font-family: product_sansregular;
    src: url(../fonts/productsans/productsans-regular-webfont.woff2)
            format("woff2"),
        url(../fonts/productsans/productsans-regular-webfont.woff)
            format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: auto;
    font-family: product_sansbold;
    src: url(../fonts/productsans/productsans-bold-webfont.woff2)
            format("woff2"),
        url(../fonts/productsans/productsans-bold-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: auto;
    font-family: fontello;
    src: url(../fonts/fontello/fontello.eot);
    src: url(../fonts/fontello/fontello.eot) format("embedded-opentype"),
        url(../fonts/fontello/fontello.woff2) format("woff2"),
        url(../fonts/fontello/fontello.woff) format("woff"),
        url(../fonts/fontello/fontello.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: auto;
    font-family: gordita_regular;
    src: url(../fonts/gordita/GorditaRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: auto;
    font-family: gordita_medium;
    src: url(../fonts/gordita//GorditaMedium.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: gordita_bold;
    src: url(../fonts/gordita/GorditaBold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
